body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#grid-container {
    display: flex;
    gap: 10px;
}

.mole-hole {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    margin-top: 20px;
}